<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <title>SungJuk List</title>
</head>
<body>
<h1>성적데이터 목록</h1>

<div>
    <a href="/sungjuk/new">성적 등록</a> |
    <a href="/member/list">회원 목록(예제)</a>
    <a href="/board/list">게시판 목록(예제)</a>
</div>

<hr />

<table border="1" cellpadding="8" cellspacing="0">
    <thead>
    <tr>
        <th>성적번호</th>
        <th>이름</th>
        <th>국어</th>
        <th>영어</th>
        <th>수학</th>
    </tr>
    </thead>
    <tbody>
    {% for sj in sungjuks %}
    <tr align="center">
        <td width="70px">{{ sj["sjno"] }}</td>
        <td width="100px" align="left"><a href="/sungjuk/{{ sj['sjno'] }}">{{ sj["name"] }}</a></td>
        <td width="55px">{{ sj["kor"] }}</td>
        <td width="55px">{{ sj["eng"] }}</td>
        <td width="55px">{{ sj["mat"] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>