<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Edit Post</title>
</head>
<body>
<h1>게시글 수정</h1>

<form method="post" action="/board/{{ bd['bdno'] }}/edit">
    <div>
        <label>제목</label><br/>
        <input type="text" name="title" required style="width:400px;"
               value="{{ bd['title'] }}" />
    </div>

    <div>
        <label>본문</label><br/>
        <textarea name="contents" required rows="10" cols="80">{{ bd["contents"] }}</textarea>
    </div>

    <button type="submit">수정 저장</button>
</form>

<hr />
<a href="/board/{{ bd['bdno'] }}">상세로</a> |
<a href="/board/list">목록으로</a>
</body>
</html>